.projects {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;

  .project {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .projectDesc {
    margin: 0 2rem;
  }

  p {
    max-width: 70ch;
    margin: 0.5rem 0;
    line-height: 1.75rem;
  }

  .projectLinks {
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2rem;
  }

  img {
    height: auto;
    max-width: 750px;
  }
}
