.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: rgb(230, 230, 230);
  background: url("../assets/background.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;

  hr {
    background-color: rgb(230, 230, 230);
  }

  .aboutMe {
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 70ch;
    text-align: justify;
  }

  p {
    line-height: 2rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
  }

  .photo {
    height: 275px;
    width: 275px;
    border-radius: 1.5rem;
    margin: 1rem;
    overflow: hidden;
    background: url("../assets/photo.jpg");
    background-size: cover;
    background-position: center;
    justify-self: center;
  }

  a {
    display: inline;
    font-weight: bold;
    color: white;

    span {
      font-size: clamp(1rem, 2vw, 1.3rem);
      letter-spacing: 0.1rem;
    }

    span:hover {
      font-weight: bold;
    }
  }
}
