#nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  color: white;
  list-style: none;
  margin-right: 1rem;

  li {
    position: relative;
    margin: 2rem 0;
    right: -100px;
    opacity: 0;
    pointer-events: none;
  }

  button {
    -webkit-transition: all 175ms ease-in;
    -o-transition: all 175ms ease-in;
    transition: all 175ms ease-in;
    width: 100%;
    opacity: 0.9;
    padding: 0.5rem 1rem;
    color: white;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  }

  button:hover {
    color: white;
  }
}

@media screen and (max-width: 992px) {
  #nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    top: 1.5rem;
    width: 100%;
    margin-right: 0;
    padding: 0;

    li {
      margin: 1rem 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  #nav {
    display: flex;
    flex-flow: row;

    li {
      margin: 1rem 1rem;
    }
  }
}
